@inherits ViewComponentBase
@using Duracellko.PlanningPoker.Service
@inject CreateTeamController Controller

<div class="card">
    <h5 class="card-header">@UIResources.CreateTeam_Header</h5>
    <div class="card-body">
        <form name="createTeam" action="." @onsubmit="CreateTeamCommand">
            <div class="mb-3">
                <label for="createTeam$teamName" class="form-label">@UIResources.CreateTeam_TeamNameLabel:</label>
                <input type="text" id="createTeam$teamName" name="teamName" @bind="TeamName"
                       class="@GetFormControlCss(IsTeamNameValid)" maxlength="50" />
                @if (!IsTeamNameValid)
                {
                    <span class="invalid-feedback">@UIResources.CreateTeam_RequiredLabel</span>
                }
            </div>
            <div class="mb-3">
                <label for="createTeam$scrumMasterName" class="form-label">@UIResources.CreateTeam_ScrumMasterNameLabel:</label>
                <input type="text" id="createTeam$scrumMasterName" name="scrumMasterName" @bind="ScrumMasterName"
                       class="@GetFormControlCss(IsScrumMasterNameValid)" maxlength="50" />
                @if (!IsScrumMasterNameValid)
                {
                    <span class="invalid-feedback">@UIResources.CreateTeam_RequiredLabel</span>
                }
            </div>
            <div class="mb-3">
                <label for="createTeam$selectedDeck" class="form-label">@UIResources.CreateTeam_SelectedDeckLabel:</label>
                <select id="createTeam$selectedDeck" name="deck" @bind="SelectedDeck" class="form-select">
                    @foreach (var deckOption in EstimationDecks)
                    {
                        <option value="@deckOption.Key">@deckOption.Value</option>
                    }
                </select>
            </div>
            <button type="submit" id="createTeam$Submit" class="btn btn-primary">@UIResources.CreateTeam_CreateTeamButton</button>
        </form>
    </div>
    <div class="card-footer">
        <small>
            <strong>@UIResources.CreateTeam_TipLabel:</strong> @UIResources.CreateTeam_TipText
        </small>
    </div>
</div>

@code
{
    private IEnumerable<KeyValuePair<Deck, string>> EstimationDecks => Controller.EstimationDecks;

    private string? TeamName { get; set; }

    private string? ScrumMasterName { get; set; }

    private Deck SelectedDeck { get; set; }

    private bool IsTeamNameValid => TeamName == null || !string.IsNullOrWhiteSpace(TeamName);

    private bool IsScrumMasterNameValid => ScrumMasterName == null || !string.IsNullOrWhiteSpace(ScrumMasterName);

    private Task CreateTeamCommand()
    {
        if (TeamName == null)
        {
            TeamName = string.Empty;
        }

        if (ScrumMasterName == null)
        {
            ScrumMasterName = string.Empty;
        }

        return TryRun(() => Controller.CreateTeam(TeamName, ScrumMasterName, SelectedDeck));
    }

    private string GetFormControlCss(bool valid) => valid ? "form-control" : "form-control is-invalid";
}
