@inherits ViewComponentBase
@inject CreateTeamController Controller

<div class="panel panel-primary panel-collapse">
    <div class="panel-heading">
        <h3 class="panel-title">Create team</h3>
    </div>
    <div class="panel-body">
        <form name="createTeam" action="." onsubmit="@CreateTeamCommand">
            <div class="@GetFormGroupCss(IsTeamNameValid)">
                <label for="createTeam$teamName">Team name:</label>
                <div class="@(IsTeamNameValid ? string.Empty : "input-group")">
                    <input type="text" id="createTeam$teamName" name="teamName" bind="@TeamName" class="form-control" maxlength="50" />
                    @if (!IsTeamNameValid)
                    {
                        <span class="input-group-addon">Required</span>
                    }
                </div>
            </div>
            <div class="@GetFormGroupCss(IsScrumMasterNameValid)">
                <label for="createTeam$scrumMasterName">Scrum Master name:</label>
                <div class="@(IsScrumMasterNameValid ? string.Empty : "input-group")">
                    <input type="text" id="createTeam$scrumMasterName" name="scrumMasterName" bind="@ScrumMasterName" class="form-control" maxlength="50" />
                    @if (!IsScrumMasterNameValid)
                    {
                        <span class="input-group-addon">Required</span>
                    }
                </div>
            </div>
            <input type="submit" id="createTeam$Submit" class="btn btn-primary" value="Create team" />
        </form>
    </div>
</div>

@functions
{
    private string TeamName { get; set; }

    private string ScrumMasterName { get; set; }

    private bool IsTeamNameValid => TeamName == null || !string.IsNullOrWhiteSpace(TeamName);

    private bool IsScrumMasterNameValid => ScrumMasterName == null || !string.IsNullOrWhiteSpace(ScrumMasterName);

    private Task CreateTeamCommand()
    {
        if (TeamName == null)
        {
            TeamName = string.Empty;
        }

        if (ScrumMasterName == null)
        {
            ScrumMasterName = string.Empty;
        }

        return TryRun(() => Controller.CreateTeam(TeamName, ScrumMasterName));
    }

    private string GetFormGroupCss(bool valid) => valid ? "form-group" : "form-group has-error has-feedback";
}
