@implements IDisposable
@inject UI.MessageBoxService _messageBoxService

<div id="globalMessagePanel" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="@CloseDialog" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                @if (PrimaryButtonText != null)
                {
                    <button type="button" class="btn btn-primary" onclick="@PrimaryCommand">@PrimaryButtonText</button>
                }
                <button type="button" class="btn btn-default" onclick="@CloseDialog">Close</button>
            </div>
        </div>
    </div>
</div>

@functions
{
    private TaskCompletionSource<bool> _showMessageTask;

    public string Message { get; private set; }

    public string Title { get; private set; }

    public string PrimaryButtonText { get; private set; }

    public Task<bool> ShowMessage(string message, string title, string primaryButton)
    {
        Message = message;
        Title = title;
        PrimaryButtonText = primaryButton;

        StateHasChanged();
        ShowDialog();

        _showMessageTask = new TaskCompletionSource<bool>();
        return _showMessageTask.Task;
    }

    public void CloseDialog()
    {
        EndShowMessageTask(false);
        HideDialog();
    }

    public void PrimaryCommand()
    {
        EndShowMessageTask(true);
        HideDialog();
    }

    public void Dispose()
    {
        _messageBoxService.SetMessageHandler(null);
    }

    protected override void OnInit()
    {
        base.OnInit();
        _messageBoxService.SetMessageHandler(ShowMessage);
    }

    private void EndShowMessageTask(bool result)
    {
        if (_showMessageTask != null)
        {
            _showMessageTask.SetResult(result);
            _showMessageTask = null;
        }
    }

    private async void ShowDialog()
    {
        await JSRuntime.Current.InvokeAsync<object>("eval", "$('#globalMessagePanel').modal({ backdrop: 'static' })");
    }

    private async void HideDialog()
    {
        await JSRuntime.Current.InvokeAsync<object>("eval", "$('#globalMessagePanel').modal('hide')");
    }
}
